<template>
  <div class="home">
    <b-container class="mt-5">
      <b-row align-v="center">
        <b-col>
          <b-card>
            <hr>
            <swiper :options = "swiperOption" ref="mySwiper">
              <swiper-slide v-for="(game) in gameList" :key="game.id">

                <div class="gif">
                  <img :src="game.imgUrl" alt="news">
                </div>

              </swiper-slide>

              <div class="swiper-button-prev" slot="button-prev"></div>
              <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
          </b-card>
        </b-col>

      </b-row>
    </b-container>

  </div>
</template>

<script>
  import { swiper, swiperSlide } from 'vue-awesome-swiper'

  // eslint-disable-next-line no-unused-vars
  let vm = null;
  export default {
    name: 'home',
    components: {
      swiper,
      swiperSlide
    },
    data(){
      return{
        swiperOption:{
          slidesPerView: 3,
          spaceBetween: 5,
          slidesPerGroup: 3,
          loop: false,
          width: 770,
          pagination: {
            el: '.swiper-pagination',
            clickable: true
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          },
          on: {
            click: function () {
              const realIndex = this.realIndex;
              vm.handleClickSlide(realIndex);
            }
          }
        },
        gameList: [
          {
            id: '1',
            gifUrl: 'https://media.giphy.com/media/jxJjBMvqEvMSA/giphy.gif',
            imgUrl: 'https://media.giphy.com/media/h3wT24ejH7g4M/giphy.gif'
          },
          {
            id: '2',
            gifUrl: 'https://media.giphy.com/media/h3wT24ejH7g4M/giphy.gif',
            imgUrl: 'https://picsum.photos/250/155'
          },
          {
            id: '3',
            gifUrl: 'https://media.giphy.com/media/h3wT24ejH7g4M/giphy.gif',
            imgUrl: 'https://picsum.photos/250/155'
          },
          {
            id: '4',
            gifUrl: 'https://media.giphy.com/media/h3wT24ejH7g4M/giphy.gif',
            imgUrl: 'https://picsum.photos/250/155'
          },
          {
            id: '5',
            gifUrl: 'https://media.giphy.com/media/h3wT24ejH7g4M/giphy.gif',
            imgUrl: 'https://picsum.photos/250/155'
          },
          {
            id: '6',
            gifUrl: 'https://media.giphy.com/media/h3wT24ejH7g4M/giphy.gif',
            imgUrl: 'https://picsum.photos/250/155'
          },
          {
            id: '7',
            gifUrl: 'https://media.giphy.com/media/h3wT24ejH7g4M/giphy.gif',
            imgUrl: 'https://picsum.photos/250/155'
          },
          {
            id: '8',
            gifUrl: 'https://media.giphy.com/media/h3wT24ejH7g4M/giphy.gif',
            imgUrl: 'https://picsum.photos/250/155'
          },
          {
            id: '9',
            gifUrl: 'https://media.giphy.com/media/h3wT24ejH7g4M/giphy.gif',
            imgUrl: 'https://picsum.photos/250/155'
          },
          {
            id: '10',
            gifUrl: 'https://media.giphy.com/media/h3wT24ejH7g4M/giphy.gif',
            imgUrl: 'https://picsum.photos/250/155'
          }
        ]
      }
    },
    created() {
      vm = this;
    },
    methods: {
      handleClickSlide(index) {
        // eslint-disable-next-line no-console
        console.log('current click index:', index);
      }
    }
  }
</script>

<style>
  .swiper-container {
    height: 260px;
    width: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .gif {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 15px;
    border: 1px solid aqua;
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
    width: 250px;
    height: 155px;
  }

  .gif before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }

  .gif img {
    width: 100%;
    height: 100%;
    position: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
</style>
